DATA_POSTGRES=False
POSTGRES_DB=org
POSTGRES_USER=org_user
POSTGRES_PASSWORD=org_password
DB_NAME=org
DB_HOST=db

SECRET_KEY=django-insecure-uae_g@+v&1v52z07gg9fr*our7_(h6wpp06#%c7_=+2bal(oki
DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1,89.169.180.46